{% extends 'base.html' %}

{%block content%}
{% load static %}

<div class="row-fluid" style="margin-top:50px">
    {% for message in messages %}
        <div data-alert class="alert-box {{message.tags}} radius">
            {{message}}
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}
    <div class="span4 offset5">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a class="button" href="/blog/">Blog</a></li>
    
        <li><a href="/contact/">Contact</a></li>
    </ul>
    {% if user.is_authenticated %}
        Coucou {{user.username}}
    {% endif %}
    
    <section id="content">

    <a href="{% url 'logout' %}">Déconnexion</a>

    </section>
    
    </div>
</div>
{% endblock %}

