{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row fullWidth">
    {% include 'menu.html' %}
    <div class="large-10 columns">
        <div class="row fullWidth" id="rowTop">
        {% for message in messages %}
                <div data-alert class="alert-box {{message.tags}} radius">
                    {{message}}
                  <a href="#" class="close">&times;</a>
                </div>
            {% endfor %}
        </div>
        <div class="row fullWidth">
            <div class="large-4 columns">
                {% if not myList %}
                    <h3>Créer une liste</h3>
                    <form method="post" action="{% url 'createList' %}">
                       <div class="fieldWrapper">
                            
                            {% csrf_token %}
                            {{ form.name.errors }}
                            <label for="name">Name:</label>
                            {{ form.name }}
                        </div>
                        <input type="submit"/>
                    </form>          
                
                {% else %}
                    <h3>Liste actuelle : {{myList.name}}</h3>
                {% endif %}
            </div>
        </div>
        <div class="row fullWidth">
            <div class="large-{% if myList %}7{% else %}12{% endif %} columns">
                <h3>Liste des produits</h3>
                <table>
                    <thead>
                        <tr>
                            <th width="200">Produit</th>
                            <th width="150">Sous-catégorie</th>
                            <th width="150">Catégorie</th>
                            {% if myList %}
                                <th width="50">Quantité</th>
                                <th width="50">Ajouter</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                       {% for ingredient in ingredients %}
                            <tr>
                                <td><a href="">{{ingredient.name}}</a></td>
                                <td><a href="">{{ingredient.subCategory.name}}</a></td>
                                <td><a href="">{{ingredient.subCategory.category.name}}</a></td>
                                {% if myList %}
                                    <form method="POST" action="" onsubmit="addProductAjax(this);return false;">
                                            {% csrf_token %}
                                        <input type="hidden" name="productId" value="{{ingredient.id}}" />
                                        <td><input type="number" name="quantity" value="1" /></td>
                                        <td><input class="button" type="submit" value="+" /></td>
                                    </form>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
            {% if myList %}
                <div class="large-5 columns">
                    <h3>Liste actuelle</h3>
                    <table id="currentListTable">
                      <thead>
                        <tr>
                          <th width="200">Produit</th>
                          <th width="150">Sous-catégorie</th>
                          <th width="150">Catégorie</th>
                          <th width="100">Quantité</th>
                          <th width="50">Supprimer</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for products in myProduct %}

                            <tr id="{{products.product.id}}">
                                <td>{{products.product.name}}</td>
                                <td>{{products.product.subCategory.name}}</td>
                                <td>{{products.product.subCategory.category.name}}</td>
                                <td>{{products.quantity}}</td>
                                <td><button onclick="removeProductListAjax({{products.product.id}})" >X</button></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <a class="button info" href="{% url 'saveCurrentList' myList.id %}">Sauvegarder votre liste</a>
                    <div>
                        <form action="{% url 'addCustomProduct' %}" method="POST">
                            {% csrf_token %}
                            {{ productForm.as_p }}
                            <input class="button" type="submit" value="Ajouter un produit personnalisé" />
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">

function addProductAjax(product) {
    $.ajax({
        url : "{%url 'addProductToList' %}",
        type : "POST",
        dataType: "json",
        data : {
            productId : product.productId.value,
            quantity : product.quantity.value,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success : function(data) {

            if(data.state == 'error'){
                $('#rowTop').html('<div data-alert class="warning alert-box radius">'+data.errorMessage+'<a href="#" class="close">&times;</a></div>');
                
            }
            else{
                $find = false
                $('#rowTop').html('<div data-alert class="success alert-box radius">Produit ajouté<a href="#" class="close">&times;</a></div>');
                $table = $("#currentListTable")
                $('#currentListTable tr').each(function(){
                    $row = $(this);
                    
                    if($row[0].id==data.productId){
                        $olderCell= $row.find('td').eq(3);
                        $olderCell.html(parseInt($olderCell.html())+parseInt(data.quantity));
                        $find = true;

                    }
                });
                if(!$find){
                    
                    $('#currentListTable > tbody:last-child').prepend('<tr id='+data.productId+'><td>'+data.name+'</td><td>'+data.subCategory+'</td><td>'+data.category+'</td><td>'+data.quantity+'</td><td><button onclick="removeProductListAjax('+data.productId+')" >X</button></td></tr>');
                }
                
            }
            $(document).foundation();
            
        },
        error : function(data) {
            $('#rowTop').html('<div data-alert class="warning alert-box radius">'+data.errorMessage+'<a href="#" class="close">&times;</a></div>');
            $(document).foundation('alert', 'reflow');
            
        }
    });
    return false;
};
function removeProductListAjax(productId) {
        $.ajax({
            url : "{%url 'removeProductList' %}",
            type : "GET",
            dataType: "json",
            data : {
                productId : productId
            },
            success : function(data) {

                if(data.state == 'error'){
                    $('#rowTop').html('<div data-alert class="warning alert-box radius">'+data.errorMessage+'<a href="#" class="close">&times;</a></div>');
                    
                }
                else{
                    $('#rowTop').html('<div data-alert class="success alert-box radius">Produit retiré<a href="#" class="close">&times;</a></div>');
                    $row = document.getElementById(data.productId);
                    $row.parentNode.removeChild($row);
                }
                $(document).foundation();
                
            },
            error : function(data) {
                $('#rowTop').html('<div data-alert class="warning alert-box radius">'+data.errorMessage+'<a href="#" class="close">&times;</a></div>');
                $(document).foundation('alert', 'reflow');
                
            }
        });
        return false;
    };

</script>

{% endblock %}