{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row" id="rowTop">
{% for message in messages %}
        <div data-alert class="alert-box {{message.tags}} radius">
            {{message}}
          <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}
</div>
<div class="row">
    <h3>Liste des produits<h3>
	<table>
  <thead>
    <tr>
      <th width="200">Produit</th>
      <th width="150">Sous-catégorie</th>
      <th width="150">Catégorie</th>
      <th width="50">Quantité</th>
      <th width="50">Ajouter</th>
    </tr>
  </thead>
    <tbody>
    	{% for ingredient in ingredients %}
            <tr>
                  <td><a href="">{{ingredient.name}}</a></td>
                  <td><a href="">{{ingredient.subCategory.name}}</a></td>
                  <td><a href="">{{ingredient.subCategory.category.name}}</a></td>
                    <form method="POST" action="" onsubmit="addProductAjax(this);return false;">
                        {% csrf_token %}
                    <input type="hidden" name="productId" value="{{ingredient.id}}" />
                    <td><input type="number" name="quantity" /></td>
                    <td><input type="submit" /></td>
                </form>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="row">
    <div class="large-4 columns">
        <h3>Créer une liste</h3>
        <form method="post" action="{% url 'createList' %}">
           <div class="fieldWrapper">
                
                {% csrf_token %}
                {{ form.name.errors }}
                <label for="name">Name:</label>
                {{ form.name }}
            </div>
            <input type="submit"/>
        </form>          
    </div>
    <div class="large-8 columns">
        <h3>Ajouter des produits</h3>
<!--         <form method="post" action="{% url 'addProductToList' %}">
      {% csrf_token %}
      {{ form2.as_p }}
      <input type="submit"/>
  </form>  -->  
    </div>
    
</div>

<div class="row">
<h3>Liste actuelle</h3>
<table id="currentListTable">
  <thead>
    <tr>
      <th width="200">Produit</th>
      <th width="150">Sous-catégorie</th>
      <th width="150">Catégorie</th>
      <th width="150">Quantité</th>
    </tr>
  </thead>
  <tbody>
    {% for products in myProduct %}

        <tr id="{{products.product.id}}">
            <td>{{products.product.name}}</td>
            <td>{{products.product.subCategory.name}}</td>
            <td>{{products.product.subCategory.category.name}}</td>
            <td>{{products.quantity}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div> 
{% endblock %}
{% block javascripts %}
{{ block.super }}
<script>
function addProductAjax(product) {
        $.ajax({
            url : "{%url 'addProductToList' %}",
            type : "POST",
            dataType: "json",
            data : {
                productId : product.productId.value,
                quantity : product.quantity.value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success : function(data) {
                if(data.state == 'error'){
                    $('#rowTop').prepend('<div class="warning alert-box radius">'+data.errorMessage+'<a href="#" class="close">&times;</a></div>');
                }
                else{
                    $find = false
                    $('#rowTop').prepend('<div class="success alert-box radius">Produit ajouté<a href="#" class="close">&times;</a></div>');
                    $table = $("#currentListTable")
                    $('#currentListTable tr').each(function(){
                        $row = $(this);
                        
                        if($row[0].id==data.productId){
                            $olderCell= $row.find('td').eq(3);
                            $olderCell.html(parseInt($olderCell.html())+parseInt(data.quantity));
                            $find = true;

                        }
                    });
                    if(!$find){
                        
                        $('#currentListTable > tbody:last-child').append('<tr id='+data.productId+'><td>'+data.name+'</td><td>'+data.subCategory+'</td><td>'+data.category+'</td><td>'+data.quantity+'</td></tr>');
                    }
                }
            },
            error : function(data) {
                $('#rowTop').prepend('<div class="warning alert-box radius">'+data.errorMessage+'<a href="#" class="close">&times;</a></div>');
                
            }
        });
        return false;
    };
</script>
{% endblock %}