{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="row fullWidth">
    {% include 'menu.html' %}
    <div class="large-10 columns">
		<h3>Listes enregistrées</h3>
		<div class="row fullWidth" id="rowTop">
        {% for message in messages %}
                <div data-alert class="alert-box {{message.tags}} radius">
                    {{message}}
                  <a href="#" class="close">&times;</a>
                </div>
            {% endfor %}
        </div>
		{% for myList in myLists %}
			<h4>{{myList.name}}, créée le {{myList.date}}</h4>
			<table>
			  <thead>
			    <tr>
			      <th width="200">Produit</th>
			      <th width="150">Sous-catégorie</th>
			      <th width="150">Catégorie</th>
			      <th width="150">Quantité</th>
			    </tr>
			  </thead>
			  <tbody>
			    {% for products in productInlist %}
			    	{% for product in products %}
						{% if product.listUser.id = myList.id %}
				        <tr>
				            <td><a href="">{{product.product.name}}</a></td>
				            <td><a href="">{{product.product.subCategory.name}}</a></td>
				            <td><a href="">{{product.product.category.name}}</a></td>
				            <td><a href="">{{product.quantity}}</a></td>
				        </tr>
				       {% endif %}
				     {% endfor %}
			    {% endfor %}
			  </tbody>
			</table>
			<a href="{% url 'deleteList' myList.id %}" class="button alert">Supprimer</a>
		{% endfor %}
	</div> 
</div>
{% endblock %}
{% block javascripts %}
	{{ block.super }}
{% endblock %}